<div class="span-12">  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "text" %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
</div>  
<div class="span-12 last">  
  <p>
    <%= f.label :start_at %><br />
    <%= f.date_select :start_at %>
  </p>
  <p>
    <%= f.label :end_at %><br />
    <%= f.date_select :end_at %>
  </p>
  <p>
    <% unless current_project.id.nil? %>
      <%= f.hidden_field :project_id, :value => current_project.id %>
    <% end %>
    <%#= f.label :project_id, "Select project" %>
    <%#= f.select :project_id, Project.all.collect {|p| [p.name, p.id]} %>
  </p>
</div>