<script type="text/javascript" charset="utf-8">
  $(function() {
    $("a[id^=milestone_]").click(function() {
      id = $(this).attr("id").split("milestone_")[1];
      $("#details_" + id).toggle();
      if ($("#plus_" + id) == "+") {
        $("#plus_" + id).html("-")
      } else {
        $("#plus_" + id).html("+")
      }
      
      return false;
    });
  });
</script>
<% unless milestones.empty? %>
    <% milestones.each do |milestone| %>  
    <div class="span-20 last" style="border-bottom: 1px solid #ddd;  padding-right: 0px;">
      <div class="span-18"><span id="plus_<%= milestone.id %>">+</span> <%= link_to milestone.name, "", :id => "milestone_" + milestone.id.to_s %><br />
        <div style="padding-left: 10px;" class="quiet"><%= milestone.start_at.to_s(:short) %> - <%= milestone.end_at.to_s(:short) %>
        </div>
      </div>
      <div class="span-2 last" stlye="text-align:right;"><%= link_to '<span class="small">Edit</span>', edit_milestone_path(milestone) %> | 
      <%= link_to '<span class="small">Delete</span>', milestone, :confirm => 'Are you sure?', :method => :delete %>
      </div>
      
      <div class="span-20" id="details_<%= milestone.id.to_s %>" style="display: none;margin-top: 10px; margin-bottom:10px;">
        <p>
          <strong>Description:</strong> <%= milestone.description %>
        </p>
        <p>
          <strong>Tasks:</strong>
          <ul>
            <% milestone.tasks.each do |task| %>
              <li><%= task.title %>, <span class="quiet">Assigned to</span> <strong><%= task.asignee.name %></strong>. <span class="quiet">Period:</span> <%= task.start_date %>, <%= task.end_date %></li>
            <% end %>
          </ul>
        </p>
      </div>
      
    </div>
    <% end %>
<% else %>
  <br />
  <div class="notice">No milestone defined.</div>
<% end %>