<h1>Editing milestone</h1>

<% form_for(@milestone) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form_fields', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @milestone %> |
<%= link_to 'Back', milestones_path %>