
<style type="text/css" media="screen">
  /*
    Calendar theme, based on Geoffrey Grosenbach http://nubyonrails.com

    Colors: 
      Tan: ecede2 
      Turq: 003355
      Cream: ffffdd
  */
  table  {
    width: 595px;
  }
  .calendar {
    background-image: url('/images/event_calendar/85_bg.gif');
    background-repeat: repeat;
    margin: auto;
  }

  .calendar thead {
    background-color: white;
  }

  .calendar th {
    padding-bottom: 5px;
  }

  .calendar th.monthName {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  th.monthName + th {
    text-align: right;
  }

  .dayName th {
    font-size: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #303030;
    color: white;
  }

  .otherMonth, .day, .specialDay {
    font-size: 11px;
    text-align: center;
    padding: 2px 0;
    padding-left: 1px;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px dotted #bbbbbb;
  }

  .otherMonth {
    color: #d5d5d5;
    background-color: white;
  }

  .day, .specialDay {
    background-color: #ecede2;
  }
  .specialDay {
    color: white;
  }
  .specialDay a, .specialDay a:visited, .specialDay a:hover {
    color: white;
    text-decoration: none;
    padding: 1em;
  }
  .specialDay a:hover {
    color: white;
    background-color: black;
  }
  .weekendDay {
    /* background-color: #ffffdd; */
  }
  .today{
  	background-color: #ffffdd;
  }

  .beginning_of_week {
    border-left: 1px solid #d5d5d5;
    padding-left: 0;
  }

  /* Event blocks */
  .events { 
    position: relative; 
    border-bottom: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    margin-left: -5px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: -10px;
  }

  .event {
    overflow: hidden;
    text-align: left;
    position: absolute;
    font-size: 12px;
    line-height: 16px;
  }

  .event :hover {
    background-color: #2EAC6A;
  }

  .event div { 
    cursor: pointer;
    padding-left: 6px; 
    color:#ffffff; 
    text-decoration: none;
  }
</style>

<div class="span-20 border">
  <div class="span-16">
    <h2>Milestones</h1>
  </div>
  <div class="span-4 last">
    <%= link_to '<span class="ss_sprite ss_add"><strong>New milestone</strong></span>', new_milestone_path, :class => 'button positive' %>  
  </div>
  <div class="span-20 last" id="milestones_list">  
    <%= render :partial => 'milestones_list', :locals => {:milestones => @milestones} %>
  </div>
</div>


<div class="span-4 last">
  <%#= render :partial => 'shared/current_project_select' %>
  
  <!-- REFACTOR THIS !!!!!!!!!!!!!!!!!!!  -->
  
  <div style="background-color: #75CC28; color: white; padding: 7px;">
    Project &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <%= select_tag 'project', options_for_select(projects_collection, @select_index.to_i + 1), 
      {:onchange => "#{remote_function(:url  => "#{get_milestones_milestones_path}",
                                       :method => :get,
                                       :with => "'project_id='+ $(\"\#project\").val()"
                                      )
                      }"
      } %>
  </div>
  
</div>


<!-- <div id="milestones_chart" class='chart'>
  <strong>Text displayed when the user doesn't have Flash. You might want to display a simple table with the population, search engines and visitor without flash would love that.</strong>
  <p> To see this page properly, you need to upgrade your Flash Player, please visit the Adobe web site</p>
</div>
<script type="text/javascript">
  // <![CDATA[    
  var so = new SWFObject("/graphs/amcolumn/amcolumn.swf", "population_chart", "750", "380", "1", "#FFFFFF");
  so.addVariable("path", "/graphs/amcolumn/");
  so.addVariable("settings_file", escape("/graphs/amcolumn/amcolumn_milestones_settings.xml"));
  so.addVariable("data_file", escape("<%= xml_month_milestones_path %>")); 
  so.addVariable("preloader_color", "#FFFFFF");
  so.write("milestones_chart");
  // ]]>
</script> -->


<!-- <br />

<%= link_to '<span class="ss_sprite ss_add"><strong>New milestone</strong></span>', new_milestone_path, :class => 'button' %> -->

<div class="span-15">
  <%= event_calendar %>
</div>