<p>
  <b>Title:</b>
  <%=h @milestone.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @milestone.description %>
</p>

<p>
  <b>Start date:</b>
  <%=h @milestone.start_at %>
</p>

<p>
  <b>End date:</b>
  <%= @milestone.end_at %>
</p>


<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>