<script type="text/javascript" charset="utf-8">
  $(function(){
    Date.format = 'yyyy-mm-dd';
    $("#change_for_day").datePicker({startDate:'1996-01-01'}).val(new Date().asString()).click(function(){
      $(this).dpDisplay();
      this.blur();
    })
    $("#change_text_time_spent").css("color", "#aaa").inputFieldText('Ex: 1d 14h 3m or 3h40m or 50m');
  })
</script>

<div class="span-15">  
  <%= hidden_field_tag :task_id, @task.id %>
  <div class="span-15 last" >  
    <p>
      <%= f.label :comment %><br />
      <%= f.text_area :comment, :style=>"width: 550px; height:200px;" %>
    </p>
  </div>  

  <div class="span-6">  
    <p>
      <%= f.label :text_time_spent, "Time spent"%>
      <%= f.text_field :text_time_spent, :class => "text" %><br />
    </p>
  </div>  

  <div class="span-6 last">  
    <p>
      <%= f.label :for_day, "For day"%><br />
      <%= f.text_field :for_day, :class => "text", :style => "width: 100px;" %>
    </p>
  </div>  

<p>&nbsp;</p>
</div>  

<div class="4 last">  

  <% f.fields_for :task do |task_form| %>
    <p>
      <%= f.label :assignee_id, "Reassign to" %><br />
      <%= task_form.select :assignee_id, options_for_select(users_collection, current_user.id) %>
    </p>
  
    <p>
      <%= task_form.label :priority %><br />
      <%= task_form.select :priority, Task::PRIORITIES  %>
    </p>  
    <p>   
      <%= task_form.label :kind %><br />
      <%= task_form.select :kind, Task::KINDS %>
    </p>  
    <p>   
      <%= task_form.label :status %><br />
      <%= task_form.select :status, Task::STATUSES %>
    </p>  
    <p>   
      <%= task_form.label :resolution %><br />
      <%= task_form.select :resolution, Task::RESOLUTIONS %>
    </p>
  <% end %>
</div>


