<script type="text/javascript" charset="utf-8">
$(function() {
  // change for day 
  $(".dp-choose-date").remove();
  var change_id;

  $("span[id^=for_day_change_]").datePicker().click(function(){
    change_id = $(this).attr('id').split("for_day_change_")[1];
    $(this).dpDisplay();
  this.blur();
  }).bind('dateSelected', select_date);

  function select_date(e, selectedDate, $td) {
    date = selectedDate.getFullYear() + "-" + (selectedDate.getMonth() + 1) + "-" + selectedDate.getDate();
    $.ajax({
      type: "PUT",
      url: "/changes/" + change_id,
      data: {"change[for_day]": date},
      dataType: "script"
    });
  }

  // change time spent
  var a = 0
  $("span[id^=time_spent_]").datePicker().click( function() { /// SOMETHIGN HAPPENS TWO TIMES HERE AND I DON"T KNOW WHY"
    if (a == 0) {
      a = a + 1;

      change_id = $(this).attr('id').split("time_spent_")[1];
      time_spent = $("#time_spent_" + change_id).html();
      var ts = time_spent.split(" ");
      alert(ts[1])
      time_spent = ts[1] + "d" + ts[3] + "h" + ts[5] + "m";
      $("#time_spent_" + change_id).html('<input type="text" name="change[time_spent]" value="' + time_spent + '"');
    }
  })
})
</script>

<style type="text/css" media="screen">
  .change_comment {
    font-size: 1.2em;
    padding:8px;
    color: #002F00;
  }
  pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
  }
</style>

<div class="<%= cycle "comment_box_1", "comment_box_2" %>" >
<p>
  <span class="quiet"><i><%= change.created_at.to_s(:long) %></i></span>, 
  <strong><%= change.user.name %></strong>:
  <p class="change_comment">
    <pre style="font-family:Arial, Helvetica, sans-serif; text-indent: -1.7em; margin-top: -22px; margin-left: 20px;">
      <%= change.comment %>
    </pre>
    <p style="background-color: #eeeeee;"><%= change.task_changes %></p>
  </p>
</p>

<% unless change.minutes == 0 %>
  <p>
    <b>Time spent:</b>
    <span class="added" id="time_spent_<%= change.id %>">&nbsp; <%=humanized_duration change.minutes %> &nbsp;</span>
  </p>
<% end %>

<span id="for_day_change_<%= change.id %>" class="quiet small">On <%= change.for_day.to_s(:long) %><br /></span>

</div>