<div class="span-10 last">
  <div class="span-5">
    <%= f.label :project_id, 'Project' %>
    <%= select_tag 'task[project_id]', options_for_select(projects_collection, session[:current_project_select_index].to_i + 1)# ,
    #       {:onchange => "#{remote_function(:url  => "#{get_tasks_tasks_path}",
    #                                        :method => :get,
    #                                        :with => "'project_id='+ $(\"\#project\").val()"
    #                                       )
    #                       }"
    #       } 
    %>
  </div>
  <div class="span-5 last" id="users_for_project">
    <%= render :partial => 'users_for_project_select' %>
  </div>

  <%= f.hidden_field :opener_id, :value => current_user.id %>
  
    <div class="span-2">
    <p>
      <%= f.label :kind %><br />
      <%= f.select :kind, Task::KINDS %>
    </p>
    </div>
    <div class="span-3">
    <p>
      <%= f.label :status %><br />
      <%= f.select :status, Task::STATUSES %>
    </p>
    </div>
    <div class="span-3">
    <p>
      <%= f.label :resolution %><br />
      <%= f.select :resolution, Task::RESOLUTIONS %>
    </p>
    </div>
    <div class="span-2 last">
    <p>
      <%= f.label :priority %><br />
      <%= f.select :priority, options_for_select(Task::PRIORITIES, :selected => 3)  %>
    </p>
    </div>
    
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title, :class => 'text' %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </p>
    
    <div class="span-9">
      <div class="span-2">
        <p><br /><strong>Estimated:</strong></p>
      </div>
      <div class="span-1"><p>
        <%= f.label :estimated_days, 'Days' %><br />
        <%= f.text_field :estimated_days, :class => 'text' %>
      </p></div>
      <div class="span-1"><p>
        <%= f.label :estimated_hours, 'Hours' %><br />
        <%= f.text_field :estimated_hours, :class => 'text' %>
      </p></div>    
      <div class="span-1 last"><p>
        <%= f.label :estimated_minutes, 'Mins' %><br />
        <%= f.text_field :estimated_minutes, :class => 'text' %>
      </p></div>
    </div>
</div>