<style type="text/css" media="screen">
  ul.no_bullet {
    list-style-type: none;
  }
</style>

    <strong>Watchers</strong>
    <br />
    <ul class="no_bullet">
      <% for watcher in watchers %>
        <li>
          <% if watcher.id == current_user.id %>
            <%= link_to_remote '<span class="ss_sprite ss_cross" style="margin-left:-10px;"></span>', :url => "remove_watcher?user_id=#{watcher.id}&id=#{task.id}", :method => "post", :confirm => "Are you sure ?", :title => "Un-follow this task." %> <%= watcher.name %>
          <% else %>
            <%= watcher.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <strong>Project Contributors</strong>
    <ul class="no_bullet">
      <% for contributor in contributors %>
        <li><%= link_to_remote '<span class="ss_sprite ss_arrow_up" style="margin-left:-10px;"></span>', :url => "add_watcher?watcher_id=#{contributor.id}&id=#{task.id}", :method => "post", :title => "Follow this task." %> <%= contributor.name %></li>
      <% end %>
    </ul>
