<script type="text/javascript" charset="utf-8">
  function filter_tasks() { 
    $.ajax({
      type: "GET",
      // url rails like
      url: "/tasks",
      dataType: "script", 
      data: $("form").serialize() 
    });
  };
</script>

<%= javascript_include_tag 'pagination' %>

<div class="span-20 border">
  <div class="span-17">
    <h2><%= @tasks_for %> tasks</h2>
  </div>
  <div class="span-3 last">
    <%= link_to '&nbsp; New task &nbsp; ', '/tasks/new?height=600&width=550&inlineId=hiddenModalContent', :class => 'button thickbox', :title => 'Add new task' %>
  </div>

  <div class="span-20 last" id="tasks_list">
    <%= render :partial => 'tasks_list', :locals => {:tasks => @tasks} %>
  </div>
</div>

<div class="span-4 last">
  <%= render :partial => 'shared/current_project_select' %>

  <div style="background-color: #EEEEEE; padding: 7px;">
    <strong>Filter</strong> <br />
    <% form_tag :url => '/tasks', :method => "GET" do %>
      <p>   
      <% Task::STATUSES.each do |status| %>
        <%= check_box_tag "tasks_status[]",    status,      session[:tasks_status].include?(status), {:onclick => "filter_tasks();"} %> <%= status %><br />
      <% end %>
      </p>    
      <hr />
      <p>    
      <% Task::KINDS.each do |kind| %>
        <%= check_box_tag "tasks_kind[]",      kind,        session[:tasks_kind].include?(kind), {:onclick => "filter_tasks();"} %> <%= kind %><br />
      <% end %>
      </p>  
      <hr />
      <p>    
      <% Task::RESOLUTIONS.each do |resolution| %>
        <%= check_box_tag "tasks_resolution[]", resolution, session[:tasks_resolution].include?(resolution), {:onclick => "filter_tasks();"} %> <%= resolution %><br />
      <% end %>
      </p>  
      <hr />
      <p>
      <% Task::PRIORITIES.each do |priority| %>
        <%= check_box_tag "tasks_priority[]", priority[1], session[:tasks_priority].include?(priority[1].to_s), {:onclick => "filter_tasks();"} %> <%= priority[0] %><br />
      <% end %>
      </p>
    <% end %>
    
    <!-- you have: x tasks total
    and y opened -->
  </div>
  
</div>
