<script type="text/javascript" charset="utf-8">
  function filter_tasks() { 
    $.ajax({
      type: "GET",
      // url rails like
      url: "/tasks",
      dataType: "script", 
      data: $("form").serialize() 
    });
  };

  jQuery.fn.inputFieldText = function(string) {          
      this.each(function() { 
          $(this).val(string); 
          $(this).focus(function(){ 
              if ($(this).val() == string){ 
                  $(this).val('');
                  $(this).css("color","#000"); 
              } 
          }); 
          $(this).blur(function(){ 
              if ($(this).val() == '' ){ 
                  $(this).val(string); 
                  $(this).css("color","#aaa"); 
                  filter_tasks();
              } 
          });
      }); 
  }

  $(function() {
    $("#search_task").css("color", "#aaa").inputFieldText('Search: id or keywords + ENTER');
    $("#search_task").bind('keypress', function(e) {
      var code = e.keyCode || e.which;
      if(code == 13) { //Enter keycode
         filter_tasks();
         return false;
       }
    });
    
    $(".sort_link").click(function() {
      sort_by = $(this).attr('id');
      $("#tasks_order").val(sort_by);
      sort_type = $("#tasks_order_type").val();
      if (sort_type == "asc"){
        $("#tasks_order_type").val("desc");
      } else {
        $("#tasks_order_type").val("asc");
      }
      filter_tasks();
      return false;
    })
    
    $("#new_task_button").click(function() {
      $.ajax({
        type: "GET",
        url: "<%= new_user_task_path(current_user) %>",
        dataType: "script",
        data: $("form").serialize(),
        // success: function(data, textStatus) {
        //   tinyMCE.init({
        //     heme_advanced_toolbar_location : "top",
        //     mode : "textareas",
        //     theme : "advanced",
        //     theme_advanced_toolbar_align : "left"
        //   })
        // }
      })
      return false;
    })
  })

</script>

<%= javascript_include_tag 'pagination' %>

<div class="span-20">
  <%= render :partial => "shared/notice" %>
  
  <div class="span-17">
    <%= text_field_tag :search, "", :id => "search_task", :size => 17, :class => "title", :style => "margin-top: 0px;" %>
  </div>
  <div class="span-3 last" style="text-align: right;">
     <%= link_to '<span class="ss_sprite ss_add">&nbsp; New task &nbsp; </span>', "", :id => 'new_task_button', :class => 'button positive', :style =>"margin-right: -12px; margin-top: 0px;", :title => 'Add new task' %>
   </div>
  
  <div class="span-20 last" id="new_task">
  </div>
  
  <div class="span-20 last" id="tasks_list">
    <%= render :partial => 'tasks_list', :locals => {:tasks => @tasks} %>
  </div>
</div>

<div class="span-4 last">
  <%= render :partial => 'shared/current_project_select', :locals => {:url => get_tasks_tasks_path} %>

  <div style=" padding: 0px; background: #5B9F1D; "><!-- border-left: solid 1px #5B9F1D; -->
    <ul class="vtabs">
      <% if params[:project_id] %>
        <li><%= link_to "My tasks", tasks_path %></li>
        <li><%= link_to "Project tasks", "", :class=>"selected" %></li>
        <!-- <li><%= link_to "Teammates tasks", "", :class=>"selected" %></li> -->
      <% else %>
        <li><%= link_to "My tasks", "", :class=>"selected" %></li>
        <li><%= link_to "Project tasks", tasks_path(:project_id => current_project.id) %></li>
        <!-- <li><%= link_to "Teammates tasks", "", :class=>"selected" %></li> -->
      <% end %>
    </ul>
  </div>
  
  <div style="background-color:#f2f2f2;border:1px solid #ddd;color:#529214; padding: 7px; padding-top:none;">
    <strong>Show tasks which are</strong>
  </div>
  <div style="border: solid 1px #ddd; border-top:none;padding: 0px; "><!--  -->
    <% form_tag :url => '/tasks', :method => "GET" do %>
      
      <!-- <p>
        Order<br />
        <%= select_tag :tasks_order, options_for_select(Task::ORDER), {:style => "width: 85px;", :onchange => "filter_tasks();" } %>
        <%= select_tag :tasks_order_type, options_for_select(Task::ORDER_TYPE), {:style => "width: 45px;", :onchange => "filter_tasks();" } %>
      </p> -->
      <%= hidden_field_tag "tasks_order", "asc" %>
      <%= hidden_field_tag "tasks_order_type", "updated_at" %>
      
      <br />
      
      <div style="margin-left: 20px;">   
      <% Task::STATUSES.each do |status| %>
        <%= check_box_tag "tasks_status[]",    status,      session[:tasks_status].include?(status), {:onclick => "filter_tasks();"} %> <%= status %><br />
      <% end %>
      </div>    
      
      <br />
      
      <div style="margin-left: 20px;">    
      <% Task::KINDS.each do |kind| %>
        <%= check_box_tag "tasks_kind[]",      kind,        session[:tasks_kind].include?(kind), {:onclick => "filter_tasks();"} %> <%= kind %><br />
      <% end %>
      </div>  
      
      <br />
      
      <div style="margin-left: 20px;">    
      <% Task::RESOLUTIONS.each do |resolution| %>
        <%= check_box_tag "tasks_resolution[]", resolution, session[:tasks_resolution].include?(resolution), {:onclick => "filter_tasks();"} %> <%= resolution %><br />
      <% end %>
      </div>  
      
      <br />
      
      <div style="margin-left: 20px;">
      <% Task::PRIORITIES.each do |priority| %>
        <%= check_box_tag "tasks_priority[]", priority[1], session[:tasks_priority].include?(priority[1].to_s), {:onclick => "filter_tasks();"} %> <%= priority[0] %><br />
      <% end %>
      </div>
      
      <br />
    <% end %>
    
    <!-- you have: x tasks total
    and y opened -->
  </div>
  
</div>
