<script type="text/javascript" charset="utf-8">
  function click_time_spent_event_handler(object) {
    if ($(this).children().length == 0) { // we have clicked on this already
      id = $(this).attr("id").split("time_spent_")[1];
      time_spent = $("#time_spent_" + id).html();
      val = time_spent//.replace(/\s+/g, "")
      $(this).html('<input id="change_text_time_spent_'+id+'" name="change[text_time_spent]" type="text" value="' + val + '" /><span class="quiet small">Enter amount then press ENTER.</span>');
      $("#change_text_time_spent_"+id).focus();
      $("#change_text_time_spent_"+id).blur(function() {
        $(this).parent().html(val);
      }).keyup(function(e) {
        if(e.keyCode == 13) {
          $.ajax({
            type: "PUT",
            url: "/changes/" + id,
            data: {"change[text_time_spent]": $(this).val() },
            dataType: "script"
          })
        }
      });
    }
  }
  function click_date_picker(){
     change_id = $(this).attr('id').split("for_day_change_")[1];
     $(this).dpDisplay();
     this.blur();
   }
   
  function select_date(e, selectedDate, $td) {
    date = selectedDate.getFullYear() + "-" + (selectedDate.getMonth() + 1) + "-" + selectedDate.getDate();
    $.ajax({
      type: "PUT",
      url: "/changes/" + change_id,
      data: {"change[for_day]": date},
      dataType: "script"
    });
  }
  
  $(function() {
    ////////////////////////////////////////////
    // changes SHOW
    ////////////////////////////////////////////
   var change_id;
   $("span[id^=for_day_change_]").datePicker({startDate:'01/01/1996'}).click(click_date_picker).bind('dateSelected', select_date);
   $(".dp-choose-date").remove();
   $("span[id^=time_spent_]").click(click_time_spent_event_handler);
    // END changes SHOW ////////////////////////// 
     


    $("#task_details_link").click(function() {
      $("#task_details_table").toggle();
      el = $("#plus");
      if (el.html() == "+ "){
        el.html("- ")
      } else {
        el.html("+ ")
      }
      return false;
    })
    
    $(".ss_time_add").click(function() {
      $.ajax({
        type: "GET",
        url: "<%= new_change_path %>",
        dataType: "script",
        data: "task_id=<%= @task.id %>",
        // success: function(data, textStatus) {
        //   tinyMCE.init({
        //     heme_advanced_toolbar_location : "top",
        //     mode : "textareas",
        //     theme : "advanced",
        //     theme_advanced_toolbar_align : "left"
        //   })
        // }
      })
      return false;
    })

    var msie6 = $.browser == 'msie' && $.browser.version < 7;

    if (!msie6) {
      var top = $('#calendar').offset().top - parseFloat($('#calendar').css('margin-top').replace(/auto/, 0));
      $(window).scroll(function (event) {
        // what the y position of the scroll is
        var y = $(this).scrollTop();

        // whether that's below the form
        if (y >= top) {
          // if so, ad the fixed class
          $('#calendar').addClass('fixed');
        } else {
          // otherwise remove it
          $('#calendar').removeClass('fixed');
        }
      });
    }  
    
  })
</script>
<style type="text/css" media="screen">
  pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
  }
  
  #calendarWrapper { /* required to avoid jumping */
    right: 440px;
    position: absolute;
  }

  #calendar.fixed {
    position: fixed;
    top: 0;
  }
  
  #calendar {
    position: absolute;
    top: 0;
  }
</style>
<link rel="stylesheet" href="/stylesheets/calendar/red/style.css" type="text/css" media="screen">


<div class="span-24 last">
  <div class="span-21">
    <h2><%= link_to 'Tasks', tasks_path %> &raquo; #<%= @task.id %> <%= @task.title %> </h2>
  </div>
</div>

<div class="span-18">
  <div class="span-18 last"> 
    <%= render :partial => "shared/notice" %>
    
    <div class="quiet">
      <% unless @task.milestone.nil? %>
        Milestone: <%= @task.milestone.name %>
      <% end %>
    </div>
    
    <pre style="font-family:Arial, Helvetica, sans-serif; text-indent: -1.7em;">
      <%= @task.description %>
    </pre>

    <hr />

    <div id="new_change"></div>
        
    <div class="span-15"><h3>Changes </h3></div>

    <span style="padding-left: 25px;">
      <%= link_to 'Add change',  "" , :class => 'ss_sprite ss_time_add', :title => 'Change task' %>
    </span>
    
    <div id="changes_list">
      <%= render :partial => 'changes_list' %>
    </div>
    
    <br />
    
    <% unless @task.changes.empty? %>
    <p style="text-align: right;">
      <%= link_to 'Add change',   "" , :class => 'ss_sprite ss_time_add', :title => 'Change task' %>
      <br />
    </p>
    <% end %>
    
  </div>
</div>

<div class="span-6 last">
  <div class="span-5 box">
    
    <div class="span-5">
      <span id="plus">+ </span>
      <%= link_to "<strong>Task details</strong>", "", :id => "task_details_link" %>
    </div>      
    
      <table style="display: none;" id="task_details_table">
        <tr>
          <td>Created:</td>
          <td><span class="small"><%= @task.created_at.to_s(:long) %></span></td>
        </tr>
        <tr>
          <td>Last updated:</td>
          <td><span class="small"><%= @task.updated_at.to_s(:long) %></span></td>
        </tr>
        <tr>
          <td>Kind:&nbsp;&nbsp;</td>
          <td style="width:48%;"><span class="<%= @task.kind %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
        </tr>
        <tr>
          <td>Status:</td>
          <td><strong><span class="<%=h @task.status %>"><%=h @task.status %></span></strong>
        </td>
  
        <tr>
          <td>Estimated time:</td>
          <td><%=humanized_duration(@task.estimated_time) %></td>
        </tr>
        
        <tr>
          <td>Spent time:</td>
          <td><%=humanized_duration(@task.time_spent) %></td>
        </tr>

        <tr>
          <td>Priority:</td>
          <td><%= "<span class=\"ss_sprite ss_bullet_red\" style=\"margin-left: -11px;\"></span>" * @task.priority %></td>
        </tr>

        <tr>
          <td>Resolution:</td>
          <td class="small quiet"><% if @task.resolution == "In progress"%>
                <span class="ss_sprite ss_cog"></span>
              <% else %>
                <span class="ss_sprite ss_tick"></span>
              <% end %>&nbsp;<%= @task.resolution %>
          </td>
        </tr>
        <!-- </tr> -->
        <tr>
          <td>Billable:</td>
          <td><%= @task.billable == false ? "no" : "yes" %></td>
        </tr>
        
        <tr>
          <td>Start date:</td>
          <td><%= @task.start_date %></td>
        </tr>
        
        <tr>
          <td>End date:</td>
          <td><%= @task.end_date %></td>
        </tr>
        
        <tr>
          <td>Purchase order:</td>
          <td><%= @task.purchase_order %></td>
        </tr>
        
      </table>
  </div>    
  
  <div id="watchers" class="span-5 box last">
      <%= render :partial => 'watchers', :locals => {:watchers => @watchers, :contributors => @contributors, :task => @task} %>
  </div>
  
  <div class="span-5 last">
    <div id="calendarWrapper">  
    <div id="calendar">
      <%= calendar_task do |d|
              cell_text = "#{d.mday}"
              cell_attrs = {:class => 'day'}
              @task.changes.each do |change|
                if change.for_day.mday == d.mday && change.for_day.month == d.month
                  cell_text = link_to("#{change.for_day.mday}", "##{change.for_day}")
                  cell_attrs[:class] = 'specialDay'
                end
              end
              [cell_text, cell_attrs]
            end %>
    </div>
    </div>
  </div>    
  
</div>




