<h2><%= link_to 'Tasks', tasks_path %> &raquo; <%= @task.title %></h2>

<div class="span-19 last box">
  <div class="span-3 border">
    <b>Kind:</b>
    <%=h @task.kind %>
  </div>
  <div class="span-3 border">  
    <b>Status:</b>
    <span class="<%=h @task.status %>"><%=h @task.status %></span>
  </div>
  <div class="span-5 border">
    <b>Estimated time:</b>
    <%=h @task.estimated_time %>
  </div>
  <div class="span-3 border">
    <b>Priority:</b>
    <%=h @task.priority %>
  </div>
  <div class="span-3 border">
    <b>Resolution:</b>
    <%=h @task.resolution %>
  </div>
</div>

<div class="span-20 last">
  <h3>Description</h3>
  <p>
    <%=h @task.description %>
  </p>
</div>

<hr />

<% for change in @task.changes %>
  <%= render :partial => "changes/show", :locals => {:change => change} %>
<% end %>

<%= link_to 'Add time',  "/changes/new?height=600&width=600&inlineId=hiddenModalContent&task_id=#{@task.id}" , :class => 'thickbox ss_sprite ss_time_add', :title => 'Change task' %><br />
