<div class="span-24 last">
  <div class="span-18">
    <h2><%= link_to 'Tasks', tasks_path %> &raquo; <%= @task.title %> </h2>
  </div>
  <div class="span-6 last" style="text-align: right;">
    <span class="quiet">Created: <span class="alt"><%= @task.created_at.to_s(:long) %></span></span><br />
    <span class="quiet">Last updated: <dpan class="alt"><%= @task.updated_at.to_s(:long) %></dpan></span>
  </div>
</div>

<div class="span-20">
  <div class="span-19 box">
    <div class="span-3 border">
      <b>Kind:&nbsp;&nbsp;<span class="<%= @task.kind %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b>
    </div>
    <div class="span-3 border">  
      <b>Status:</b>
      <strong><span class="<%=h @task.status %>"><%=h @task.status %></span></strong>
    </div>
    <div class="span-4 border">
      <b>Estimated time:</b>
      <%=humanized_duration(@task.estimated_time) %>
    </div>
    <div class="span-3 border">
      <b>Priority:</b>
      &nbsp;&nbsp;&nbsp;<%= "<span class=\"ss_sprite ss_bullet_red\" style=\"margin-left: -11px;\"></span>" * @task.priority %>
    </div>
    <div class="span-5 border">
      <b>Resolution:</b>&nbsp;&nbsp;
      <% if @task.resolution == "In progress"%>
        <span class="ss_sprite ss_cog"></span>
      <% else %>
        <span class="ss_sprite ss_tick"></span>
      <% end %><%= @task.resolution %>
    </div>
  </div>

  <h3>Description</h3>
  <p>
    <%=h @task.description %>
  </p>

  <hr />
  
  <h3>Changes</h3>
  <% for change in @task.changes %>
    <p><%= render :partial => "changes/show", :locals => {:change => change} %></p>
  <% end %>
  <br />
  <p>
    <%= link_to 'Add time',  "/changes/new?height=540&width=520&inlineId=hiddenModalContent&task_id=#{@task.id}" , :class => 'thickbox ss_sprite ss_time_add', :title => 'Change task' %>
    <br />
  </p>

</div>

<div class="span-4 last">
  <div style="background-color: #EEEEEE; padding: 7px; border: solid 1px #cccccc;" id="watchers">
    <%= render :partial => 'watchers', :locals => {:watchers => @watchers, :contributors => @contributors, :task => @task} %>
  </div>
</div>



