<link rel="stylesheet" href="/stylesheets/calendar/red/style.css" type="text/css" media="screen">


<div class="span-24 last">
  <div class="span-18">
    <h2><%= link_to 'Tasks', tasks_path %> &raquo; <%= @task.title %> </h2>
  </div>
  <div class="span-6 last" style="text-align: right;">
    <span class="quiet">Created: <span class="alt"><%= @task.created_at.to_s(:long) %></span></span><br />
    <span class="quiet">Last updated: <dpan class="alt"><%= @task.updated_at.to_s(:long) %></dpan></span>
  </div>
</div>

<div class="span-20">
  <div class="span-6">
    
    <div class="span-5 box">    
        <table style="margin: -10px;">
          <tr>
            <td>Kind:&nbsp;&nbsp;</td>
            <td style="width: 48%;"><span class="<%= @task.kind %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
          </tr>
          <tr>
            <td>Status:</td>
            <td><strong><span class="<%=h @task.status %>"><%=h @task.status %></span></strong>
          </td>
    
          <tr>
            <td>Estimated time:</td>
            <td><%=humanized_duration(@task.estimated_time) %></td>
          </tr>
          
          <tr>
            <td>Spent time:</td>
            <td><%=humanized_duration(@task.time_spent) %></td>
          </tr>

          <tr>
            <td>Priority:</td>
            <td><%= "<span class=\"ss_sprite ss_bullet_red\" style=\"margin-left: -11px;\"></span>" * @task.priority %></td>
          </tr>

          <tr>
            <td>Resolution:</td>
            <td class="small quiet"><% if @task.resolution == "In progress"%>
                  <span class="ss_sprite ss_cog"></span>
                <% else %>
                  <span class="ss_sprite ss_tick"></span>
                <% end %>&nbsp;<%= @task.resolution %>
            </td>
          </tr>
          </tr>
        </table>
    </div>    
    
    <div class="span-5 last">
      <%= calendar_task do |d|
              cell_text = "#{d.mday}"
              cell_attrs = {:class => 'day'}
              @task.changes.each do |change|
                if change.for_day.mday == d.mday && change.for_day.month == d.month
                  cell_text = link_to ("#{change.for_day.mday}", "##{change.for_day}")
                  cell_attrs[:class] = 'specialDay'
                end
              end
              [cell_text, cell_attrs]
            end %>
    </div>    
        
  </div>

  <div class="span-14 last"> 
    <%= render :partial => "shared/notice" %>
        
    <h3><%= @task.title %></h3>
    <p>
      <%=h @task.description %>
    </p>

    <hr />
  
    <div class="span-11"><h3>Changes </h3></div>
    <span style="padding-left: 25px;"><%= link_to 'Add change',  "/changes/new?height=540&width=520&inlineId=hiddenModalContent&task_id=#{@task.id}" , :class => 'thickbox ss_sprite ss_time_add', :title => 'Change task' %>
    </span>
    
    <% @task.changes.group_by(&:for_day).each do |day, changes| %>
    <p>
      <div class="" style="color: #02539F;padding-bottom: 5px; margin-left: 10px;">
        <strong>
          <a style="text-decoration: none;" name="<%= day %>">Work on <%= day.to_s(:long) %>
        </a>
        </strong>
      </div>
      
      <% for change in changes %>
        <%= render :partial => "changes/show", :locals => {:change => change} %>
      <% end %>
    </p>
    <% end %>
    
    <br />
    <p style="text-align: right;">
      <%= link_to 'Add change',  "/changes/new?height=540&width=520&inlineId=hiddenModalContent&task_id=#{@task.id}" , :class => 'thickbox ss_sprite ss_time_add', :title => 'Change task' %>
      <br />
    </p>
    
  </div>
</div>




<div class="span-4 last">
  <div style="background-color: #EEEEEE; padding: 7px; border: solid 1px #cccccc;" id="watchers">
    <%= render :partial => 'watchers', :locals => {:watchers => @watchers, :contributors => @contributors, :task => @task} %>
  </div>
</div>







