<script type="text/javascript" charset="utf-8">
  $(function(){
    $("#show_button").click(function(){
      date_from = $("#from_From_1i").val() + "-" + 
                  $("#from_From_2i").val() + "-" +
                  $("#from_From_3i").val();
                   
      date_until =  $("#until_From_1i").val() + "-" + 
                    $("#until_From_2i").val() + "-" +
                    $("#until_From_3i").val();
      var new_link = "/statistics/" + date_from + "/" + date_until
      $("#dates_form").attr("action", new_link);
      
      $("#dates_form").submit();
      return false;
    })
  })
</script>

<div class="span-24 last">
  <%= render :partial => "menu" %>
  
  <div style="text-align: center;">
    <% form_tag({:action => statistics_from_until_path(@start_date, @end_date)}, {:id => "dates_form"}) do %>
      From: <%= date_select :from, "From", :default => Date.parse(@start_date)  %> 
      Until: <%= date_select :until, "From", :default => Date.parse(@end_date)  %> 
      <%= link_to "Show", "", :id => "show_button" %>
    <% end %>
  </div>
  <div class="clear"></div>
    
  <h2>Tasks</h2>
  
  <p> Total changes today: <%= Change.total_today %></p>
  <br />

  <h2>Users</h2>
  <table>
    <tr><th>User</th>
        <th>Time spent</th>
        <th>Changes</th>
        
        <th>Opened tasks</th>
        <th>Completed tasks</th>
        
        <th>Deadline passed</th>
    <% for user in @users %>
        <tr class="<%= cycle('even', '') %>">
          <td style="width:20%;"><%= link_to user.name, statistics_user_detail_url(user) %></td>
          <td><%= humanized_duration(user.time_spent_per_day) %></td>

          <td><%= user.changes_today %></td>
          <td><%= user.opened_tasks_count %></td>
          <td></td>
          <td></td>
        </tr>
    <% end %>
  </table>  
  
  <h2>Projects</h2>
  <table>
    <tr>
      <th>Project</th>
      <th>Effort</th>
    </tr> 
    <% for project in @projects %> 
      <tr class="<%= cycle('even', '') %>">
        <td style="width:20%;"><%= link_to project.name, statistics_project_detail_path(project.id) %></td>
        <td><%= humanized_duration(project.effort(@start_date, @end_date)) %></td>
      </tr>
    <% end %>
  </table>
</div>
</div>
