<%= render :partial => 'menu' %>

<%= render :partial => 'side_menu_projects' %>

<div class="span-14 last">
  <h2><%= @project.name %></h2>
  
  <table>
    <tr style="background-color: #FFDDDD;">
      <th style="border-bottom: double 1px #EF6868;"></th>
      <th style="border-bottom: double 1px #EF6868;">Active tasks</th>
      <th style="border-bottom: double 1px #EF6868;">Closed tasks</th>
    </tr>

    
    <% for user in @users %>
    <tr class="<%= cycle('even', '') %>">  
      <td><%= user.name %></td>
      <td><%= user.opened_tasks_count_for_project(@project.id) %></td>
      <td></td>
    </tr>
    <% end %>
  </table>
</div>