<%= render :partial => 'menu' %>

<%= render :partial => 'side_menu_users' %>

<div class="span-18 last">
  <h2><%= @user.name %>'s activity</h2>

  <div class="span-9">
    <h3>Today - <span class="added"><%= humanized_duration(@user.time_spent_per_day) %></span></h3>
    Tasks that cristi worked on today
    <ul>
      <% for task in @worked_on_tasks %>
        <li><%= link_to task.title, task %></li>
      <% end %>
    </ul>
  </div>  
  
  <div class="span-9 last">
    <h3>This week</h3>
      <div id="population_chart" class='chart'>
        <strong>Text displayed when the user doesn't have Flash. You might want to display a simple table with the population, search engines and visitor without flash would love that.</strong>
        <p> To see this page properly, you need to upgrade your Flash Player, please visit the Adobe web site</p>
      </div>

      <script type="text/javascript">
        // <![CDATA[    
        var so = new SWFObject("/graphs/amcolumn/amcolumn.swf", "population_chart", "350", "280", "1", "#FFFFFF");
        so.addVariable("path", "/graphs/amcolumn/");
        so.addVariable("settings_file", escape("/graphs/amcolumn/amcolumn_settings.xml"));
        so.addVariable("data_file", escape("<%= statistics_xml_user_this_week_path(@user.id) %>")); 
        so.addVariable("additional_chart_settings", "<settings><labels><label><x>150</x><y>25</y><text_size>12</text_size><text><![CDATA[<b>weekly timespent</b>]]></text></label></labels></settings>");
        so.addVariable("preloader_color", "#FFFFFF");
        so.write("population_chart");
        // ]]>
      </script>
    <br />
  </div>

  <h3>Tasks overview</h3>
  
  <table>
    <tr style="background-color: #FFDDDD;">
      <th style="border-bottom: double 1px #EF6868;"></th>
      <th style="border-bottom: double 1px #EF6868;">Active tasks</th>
      <th style="border-bottom: double 1px #EF6868;">Closed tasks</th>
      <th style="border-bottom: double 1px #EF6868;">Completion</th>
    </tr>

    
    <% for project in @projects %>
    <tr class="<%= cycle('even', '') %>">  
      <td><%= project.name %></td>
      <%
       @active = @user.opened_tasks_count_for_project(project.id)
       @closed = @user.closed_tasks_count_for_project(project.id)
       @percent_completed = @active == 0 ? 0 : @closed * 100 / @active
      %>
      <td><%= @active %></td>
      <td><%= @closed %></td>
      <td>
        <div class="meter-wrap">
            <div class="meter-value" style="background-color: #75cc28; width: <%= @percent_completed.to_i %>%;">
                <div class="meter-text">
                    <%= @percent_completed %>%
                </div>
            </div>
        </div>
      </td>
    </tr>
    <% end %>
  </table>
  
  <h3>Producivity so far</h3>
  
  Select from date, select to date
  Medium time/ per day.

  
</div>