<%= render :partial => 'menu' %>

<%= render :partial => 'side_menu_users' %>

<div class="span-14 last">
  <h2><%= @user.name %>'s activity</h2>

  <h3>Today - <span class="added"><%= humanized_duration(@user.time_spent_per_day) %></span></h3>
  
  <h3>This week</h3>
    <div id="population_chart" class='chart'>
      <strong>Text displayed when the user doesn't have Flash. You might want to display a simple table with the population, search engines and visitor without flash would love that.</strong>
      <p> To see this page properly, you need to upgrade your Flash Player, please visit the Adobe web site</p>
    </div>

    <script type="text/javascript">
      // <![CDATA[    
      var so = new SWFObject("/graphs/amcolumn/amcolumn.swf", "population_chart", "550", "380", "1", "#FFFFFF");
      so.addVariable("path", "/graphs/amcolumn/");
      so.addVariable("settings_file", escape("/graphs/amcolumn/amcolumn_settings.xml"));
      so.addVariable("data_file", escape("<%= statistics_xml_user_this_week_path(@user.id) %>")); 
      so.addVariable("additional_chart_settings", "<settings><labels><label><x>250</x><y>25</y><text_size>18</text_size><text><![CDATA[<b><%= @user.name %>'weekly timespent</b>]]></text></label></labels></settings>");
      so.addVariable("preloader_color", "#FFFFFF");
      so.write("population_chart");
      // ]]>
    </script>
  
  <h3>Tasks overview</h3>
  
  <table>
    <tr style="background-color: #FFDDDD;">
      <th style="border-bottom: double 1px #EF6868;"></th>
      <th style="border-bottom: double 1px #EF6868;">Active tasks</th>
      <th style="border-bottom: double 1px #EF6868;">Closed tasks</th>
    </tr>

    
    <% for project in @projects %>
    <tr class="<%= cycle('even', '') %>">  
      <td><%= project.name %></td>
      <td><%= @user.opened_tasks_count_for_project(project.id) %></td>
      <td></td>
    </tr>
    <% end %>
  </table>
  
  <h3>Producivity so far</h3>
  
  Select from date, select to date
  Medium time/ per day.

  
</div>