
<%= render :partial => 'menu' %>

<%= render :partial => 'side_menu_users' %>

<div class="span-18 last">
  <h2><%= @user.name %>'s activity</h2>

  <div class="span-8 border" id="day_stats">
    <%= render :partial => 'day_stats' %>
  </div>  
  
  <div class="prepend-1 span-9 last">
    <h3>This week</h3>
      <span id="prev_link"><%= link_to_remote "&laquo; Previous week", :url => { :action => "time_for_week", :start_day => @last_monday, :user_id => @user.id }%></span>&nbsp; &nbsp; &nbsp;
      <span id="next_link"></span>
      
      <div id="weekly_graph">
        <%= render :partial => "weekly_graph" %>
      </div>
    <br />
  </div>

  <h3>Tasks overview</h3>
  
  <table>
    <tr style="background-color: #FFDDDD;">
      <th style="border-bottom: double 1px #EF6868;"></th>
      <th style="border-bottom: double 1px #EF6868;">Active</th>
      <th style="border-bottom: double 1px #EF6868;">Closed</th>
      
      <th style="border-bottom: double 1px #EF6868;">Completion</th>
    </tr>

    
    <% for project in @projects %>
    <tr class="<%= cycle('even', '') %>">  
      <td><%= project.name %></td>
      <%
       @active = @user.opened_tasks_count_for_project(project.id)
       @closed = @user.closed_tasks_count_for_project(project.id)
       @total = @user.total_tasks_count_for_project(project.id)
       if @total == 0
         @percent_completed = 0
       elsif @closed > @active && @active == 0
         @percent_completed = 100 
       else 
         @percent_completed = (@active == 0 ? 0 : @closed) * 100 / @total
       end
      %>
      <td><%= @active %></td>
      <td><%= @closed %></td>
      <td>
        <% if @active == 0 && @percent_completed == 0 %>
        -
        <% else %>
          <div class="meter-wrap">
              <div class="meter-value" style="background-color: #75cc28; width: <%= @percent_completed.to_i %>%;">
                  <div class="meter-text">
                      <%= @percent_completed %>%
                  </div>
              </div>
          </div>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
  
  <h3>Producivity so far</h3>
  
  <%  form_remote_tag :url => {:action => :statistics_for_dates} do %>

    <div class="span-5">
      <%#= label_tag :from_date, "From" %>
      <%= text_field_tag :from_date, nil, :id => "from_date", :class=> "date-pick dp-applied " %>
    </div>
    <div class="span-5">
      <%#= label_tag :from_date, "Until" %>
      <%= text_field_tag :from_date, nil, :id => "until_date", :class=> "date-pick dp-applied" %>
    </div>
    
    <%= submit_tag "Show" %>
  <% end %>
  
  <div id="productivity">
    
  </div>
  
  Select from date, select to date
  Medium time/ per day.

</div>

<script type="text/javascript" charset="utf-8">
//Plugin to add text to an input field that disappears on focus 
  jQuery.fn.inputFieldText = function(string) {          
      this.each(function() { 
          $(this).val(string); 
          $(this).focus(function(){ 
              if ($(this).val() == string){ 
                  $(this).val('');
                  $(this).css("color","#000"); 
              } 
          }); 
          $(this).blur(function(){ 
              if ($(this).val() == '' ){ 
                  $(this).val(string); 
                  $(this).css("color","#aaa"); 
              } 
          });     
      }); 
  }
  
  $(function()
  {
    $('#from_date').css("color", "#aaa").inputFieldText('From');
    $('#until_date').css("color", "#aaa").inputFieldText('Until');
  	$('.date-pick').datePicker({startDate:'01/01/1996'});
    
  	// $('.date-pick').dpSetStartDate('01/01/2008');
  	$('#select_work_day').datePicker(
  	  {
  	    startDate:'01/01/1996', 
  	    endDate: (new Date()).asString()
  	  }
    ).bind('dateSelected', select_date);
    
    $('.sel_date').datePicker().bind('click',	function() {
				$(this).dpDisplay();
				this.blur();
				return false;
			}
		).bind('dateSelected', select_date);
    
    function select_date(e, selectedDate, $td)	{
    	// alert(selected);
    	
    	date = selectedDate.getFullYear() + "-" + (selectedDate.getMonth() + 1) + "-" + selectedDate.getDate();
    	$.ajax({
        type: "GET",
        url: "<%= statistics_user_time_day_path(@user.id) %>",
        data: {"date": date},
        dataType: "script"
      });
    }
  });
</script>

