
<%= render :partial => 'menu' %>

<%= render :partial => 'side_menu_users' %>

<div class="span-18 last">
  <h2><%= @user.name %>'s activity</h2>

  <div class="span-9">
    <h3>Today - <span class="added"><%= humanized_duration(@user.time_spent_per_day) %></span></h3>
    Tasks that cristi worked on today
    <ul>
      <% for task in @worked_on_tasks %>
        <li><%= link_to task.title, task %></li>
      <% end %>
    </ul>
  </div>  
  
  <div class="span-9 last">
    <h3>This week</h3>
      <span id="prev_link"><%= link_to_remote "&laquo; Previous week", :url => { :action => "time_for_week", :start_day => @last_monday, :user_id => @user.id }%></span>&nbsp; &nbsp; &nbsp;
      <span id="next_link"></span>
      
      <div id="weekly_graph">
        <%= render :partial => "weekly_graph" %>
      </div>
    <br />
  </div>

  <h3>Tasks overview</h3>
  
  <table>
    <tr style="background-color: #FFDDDD;">
      <th style="border-bottom: double 1px #EF6868;"></th>
      <th style="border-bottom: double 1px #EF6868;">Active</th>
      <th style="border-bottom: double 1px #EF6868;">Closed</th>
      
      <th style="border-bottom: double 1px #EF6868;">Completion</th>
    </tr>

    
    <% for project in @projects %>
    <tr class="<%= cycle('even', '') %>">  
      <td><%= project.name %></td>
      <%
       @active = @user.opened_tasks_count_for_project(project.id)
       @closed = @user.closed_tasks_count_for_project(project.id)
       @percent_completed = @active == 0 ? 0 : @closed * 100 / @active
      %>
      <td><%= @active %></td>
      <td><%= @closed %></td>
      <td>
        <div class="meter-wrap">
            <div class="meter-value" style="background-color: #75cc28; width: <%= @percent_completed.to_i %>%;">
                <div class="meter-text">
                    <%= @percent_completed %>%
                </div>
            </div>
        </div>
      </td>
    </tr>
    <% end %>
  </table>
  
  <h3>Producivity so far</h3>
  
  <%  form_remote_tag :url => {:action => :statistics_for_dates} do %>

    <div class="span-4">
      <%= label_tag :from_date, "From" %><a class="dp-choose-date" title="Choose date" href="#">Choose date</a> <br />
      <%= text_field_tag :from_date, nil, :id => "from_date", :class=> "date-pick dp-applied text" %>
    </div>
    <div class="span-4">
      <%= label_tag :from_date, "Until" %><a class="dp-choose-date" title="Choose date" href="#">Choose date</a> <br />
      <%= text_field_tag :from_date, nil, :id => "until_date", :class=> "date-pick dp-applied text", :size => 10  %>
    </div>
    
    <%= submit_tag "Show" %>
  <% end %>
  
  <div id="productivity">
    
  </div>
  
  Select from date, select to date
  Medium time/ per day.

</div>


