<div class="span-12">
  <h3>General info</h3>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => 'text' %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username, :class => 'text' %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => 'text' %>
  </p>


  <% if @user.openid_identifier.blank? %>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password, :class => 'text' %>
    </p>
    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, :class => 'text' %>
    </p>
    <p>
      <%#= f.submit 'Submit' %>
    </p>
  <% end %>
  <br />
  <!-- <p>Or use open ID</p>
  <br />
  <p>
    <%#= f.label :openid_identifier, "Openid URL" %><br />
    <%#= f.text_field :openid_identifier, :class => 'text' %>
  </p> -->
</div>

<div class="span-12 last">
  <h3>Permissions:</h3>
  
  <p>
    <%= f.label :is_superadmin %>
    <%= f.check_box :is_superadmin %>
  </p>
  <p>
    <%= f.label :is_member %>
    <%= f.check_box :is_member %>
  </p>
</div>

<div class="span-12 last">
  <h3>Projects:</h3>
  <p>
    <% for proj in Project.all %>
      <%= check_box_tag 'user[projects_ids][]', proj.id.to_s, @user.projects.collect(&:id).include?(proj.id) %> <%= proj.name %><br />
    <% end %>
  </p>
</div>


<div class="clear" /> 
<hr />

