<h2><%= link_to 'Users', users_path %> &raquo; Editing user <%= @user.name %></h2>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form_fields', :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Update user information', :class => "button" %>
  </p>
<% end %>
