<div class="span-12">
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => 'text' %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <%= add_milestone_link(f) %>
  <div id="milestones">
    
  </div>
  
</div>
<div class="span-12 last">
  <strong>Contributors</strong>
  <p>
  <% for user in @users %>
    <%= check_box_tag 'project[users_ids][]', user.id.to_s, @project.users.collect(&:id).include?(user.id) %> <%= user.name %><br />
  <% end %>
  </p>
</div>