<h2>Editing project</h2>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form_fields', :locals => {:f => f} %>

  <hr />
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>