<h2><%= link_to "Projects", projects_path %> &raquo; <%=h @project.name %></h2>

<%= render :partial => "shared/notice" %>

<h3>Description</h3>
<p style="padding-top: 1px;">
  <%= @project.description %>
</p>

<h3>Contributors</h3>
<ul>
  <% for contributor in @contributors  %>
    <li><%= contributor.name %></li>
  <% end %>
</ul>

<h3>Milestones</h3>
<ul>
<% for milestone in @project.milestones %>
  <li>
    <%= milestone.name %><br />
    From <%= milestone.start_at %> until <%= milestone.end_at %>
  </li>
<% end %>
<ul />

<hr />

<% if current_user.is_superadmin %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back to projects index', projects_path %>