  <p>
    <%= f.label :file %><br />
    <%= f.file_field :file %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <%= f.select :project_id, projects_collection %>