<h2>Editing file <%= @r_file.file_file_name %> </h2>

<% form_for(@r_file, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form_fields', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @r_file %> |
<%= link_to 'Back', r_files_path %>