<div class="prepend-8 span-8 append-8 last">
  <% if flash[:error] %>
  <div class="error">
    <%= flash[:error] %>
  </div>
  <% end %>

  <% form_for @user_session do |f| -%>
    <%= f.error_messages %>
    <fieldset>
    <legend>Login</legend>
    <p>
      <%= f.label :username, "Username" %>
      <%= f.text_field :username, :class => 'text' %>
    </p>
    <p>
      <%= f.label :password, "Password" %>
      <%= f.password_field :password, :class => 'text' %>
    </p>
    <%= f.submit "Login", :disable_with => 'Loging in...' %>
    
    <h2>Or use OpenID</h2>
    <p>
      <%= f.label :openid_identifier, "Openid URL" %>
      <%= f.text_field :openid_identifier, :class => 'text' %>
    </p>
    <%= f.submit 'Login', :disable_with => 'Loging with OpenID...' %>
    
    </fieldset>
  <% end -%>
</div>  

