<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>handle</title>
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection"> 
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
    <link rel="stylesheet" href="/stylesheets/thickbox.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/stylesheets/datePicker.css" type="text/css" media="screen">

    <!-- <link rel="stylesheet" href="/stylesheets/event_calendar.css" type="text/css" media="screen"> -->
    
    <!--[if IE]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <%= javascript_include_tag "jquery", "jrails", "thickbox-compressed",
                                "jquery.ba-url.min", "event_calendar", "jquery.jeditable.mini" %>

     <script type="text/javascript" src="/javascripts/flot/jquery.flot.min.js"></script>
     <script type="text/javascript" src="/javascripts/date.js"></script>
     <script type="text/javascript" src="/javascripts/jquery.datePicker.js"></script>
   
     <script type="text/javascript" src="/javascripts/tiny_mce/tiny_mce.js"></script>
     <script type="text/javascript" src="/javascripts/application.js"></script>
     <script type="text/javascript">
     tinyMCE.init({
       mode : "textareas",
       theme : "simple",
       debug : false
     });
     </script>
  </head>
  
  <body style="border-top: solid #white 5px;">
    <div class="container" >
      <% unless current_user.nil? %>
        <div class="span-24" style="padding-top:5px;background-color: #5B9F1D; color: white; "><!-- background-color: #02539F;  border-bottom: solid 6px #75CC28; -->
          <div style="float:left;"><img src="/images/logo.png" style="height: 64px;" /></div>
          
          <div class="span-14" style="margin-top: 38px; margin-bottom: -9px; padding-left: 7px;">
          <% unless current_user.nil? %>
            <%= menu %>
          <% end %>
          </div>
        </div>
        
        <div class="span-4 last push-20" style="padding-top: 5px; text-align:right; background-color: #5B9F1D; color: white; position: absolute;">
            Logged in as <%= current_user.username %>. <%= link_to "Logout", logout_path %>&nbsp;&nbsp;
        </div>
        
        <!-- border-bottom: solid 6px #5B9F1D; -->
        <!--<div class="span-4 last" style="background-color: #75CC28; color: white; "> 
          <div style="padding: 7px; text-align: right; height: 42px;">
            
          <%#= link_to "Preferences", logout_path %> 
          </div>
        </div> -->
      <% end %>
      
      <div class="span-24" style="margin-top:10px;">

      <%= yield %>
      </div>
    </div>
  </body>
</html>