<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>handle</title>
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
    <link rel="stylesheet" href="/stylesheets/thickbox.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen">


    <!-- <link rel="stylesheet" href="/stylesheets/event_calendar.css" type="text/css" media="screen"> -->
    
    <!--[if IE]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <%= javascript_include_tag "jquery", "jrails", "thickbox-compressed", "../graphs/amcolumn/swfobject",
                                "jquery.ba-url.min", "event_calendar" %>

     <script type="text/javascript" src="/javascripts/tiny_mce/tiny_mce.js"></script>
     <script type="text/javascript">
     tinyMCE.init({
       mode : "textareas",
       theme : "simple"
     });
     </script>
  </head>
  
  <body>
    <div class="container">
      <% unless current_user.nil? %>
        <div class="span-20">
          <h1 style="border-bottom: solid 6px #75CC28; background-color: #02539F;  color:white; padding: 10px;">handle 
            <span class="alt" style="color: #002A4F; font-size: small;">v0.1 (beta)</span></h1>
          
        </div>
        <div class="span-4 last" style="background-color: #75CC28; color: white; border-bottom: solid 6px #5B9F1D;">
          <div style="padding: 7px; text-align: right; height: 42px;">
            Hi <%= current_user.username %>!<br />
          <%= link_to "Logout", logout_path %>
          </div>
        </div>
      <% end %>
      
      <div class="span-24">
        <% unless current_user.nil? %>
          <%= menu %>
        <% end %>
      <%= yield %>
      </div>
    </div>
  </body>
</html>